.team_main{
    justify-content: center;
    gap: 30px;
}


.team_img img{
    margin-top: 30px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 400px;
}
@media (max-width:'414px'){
    #team_res_img{
        height: 100px;
    }
}